

.App{
  display: flex;
}
.sidebar{
  flex:30%;
 
}
.mainarea{
  flex:70%
}

/*main*/
table, th,td {
  border:1px solid black;
  border-radius: 8px;
}
td{
  background-color: #FFEBB3;
}
th{
  background-color: #3DEAC9;
}
.edit{
  margin-right: 10px;
}
.save{
  margin-right: 10px;
}


/*sidebar*/

.sidebardiv{
  display: flex;
  height: 80px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: rgb(241, 237, 237);
}
.istcol{
  margin-top: 20px;
  flex: 40%;
}
.secondcol{
  margin-top: 20px;
  flex: 60%;
}
.id{
  margin-left: 100px !important;
 margin-top: -15px;
 
}
.color{
  margin-left: 20px;
}

/*table*/

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  
  width: 80%;
  background-color: #C0FFDC;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #C0FFDC;
}

td {
  background-color:#9D90FC;
}

form {
  display: flex;
  gap: 3px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

form input{
  background-color: #FFEBB3;
}